<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />					  
	</startup>
	<connectionStrings>
		<add name="LogiPark"
				connectionString="Server=LOGICAL18; Database=LogiPark; User Id=Hasa; Password=Jola1234.; Trusted_Connection=false; MultipleActiveResultSets=true;"
   providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>